body {
  background-color: #ffffdd;
}

.menu {
  width: 90%;
  background-color: #fdedf5;
  padding: 2rem;
}

.blok__element-jedna {
  font-size: 20px;
  font-weight: 800;
  text-align: justify;
}

.article {
}

.print {
}

.leader {
}

.buttom {
}
