body {
  background-color: #f5f5f5;
}

.blok {
  width: 90%;
  background-color: #f8f8f8;
  padding: 2rem;
}

.blok__element-jedna {
  font-size: 20px;
  font-weight: 800;
  text-align: justify;
}

.article {
}

.print {
}

.leader {
}

.buttom {
}
